<div class="profile-container">
  <div class="profile-views">
      <span><i class="fas fa-chart-line"></i> Sayfa Görüntülenmesi : 549</span>
  </div>
  <div class="header">
      <div class="profile-info">
          <h2>💫Hakkımda</h2>
          <hr />
          <p><i class="fas fa-rocket"></i> 20 yaşında bir yazılım geliştiricisiyim.</p>
          <p><i class="fas fa-code-branch"></i> Modern, duyarlı web uygulamaları geliştirme konusunda uzmanlaşmış, .NET alanında kendimi geliştirmeye devam ediyorum.</p>
          <p><i class="fas fa-laptop-code"></i> Angular ve .NET teknolojilerini kullanarak verimli ve performans odaklı yazılımlar üretiyorum.</p>
          <p><i class="fas fa-database"></i> İlişkisel ve ilişkisiz veri tabanlarıyla deneyimim var ve her türlü veriyi verimli şekilde yönetebiliyorum.</p>
          <p><i class="fas fa-project-diagram"></i> Mikroservis mimarisi, JWT, Identity ve Docker gibi teknolojilerle geliştirdiğim projelerde yüksek ölçeklenebilirlik ve güvenlik sağlıyorum.</p>
          <p><i class="fas fa-users"></i> Takım çalışmalarını seviyor,Git gibi versiyon kontrol araçlarını etkin bir şekilde kullanıyorum.</p>
          <p><i class="fas fa-tools"></i> Performans odaklı yazılımlar üretmeye özen gösteriyor ve sürekli gelişim için alternatif çözüm yolları araştırıyorum.</p>
          <p><i class="fas fa-cogs"></i> Azure ve mikroservis yapısında deneyimim var, bu teknolojileri projelere entegre ederek verimliliği artırıyorum.</p>
          <p><i class="fas fa-globe"></i> Bana ulaş: <a href="mailto:Abdullahkus080@gmail.com">Abdullahkus080@gmail.com</a></p>
      </div>
  </div>
</div>
