<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/about']" routerLinkActive="active">
          <i class="fas fa-user"></i> Hakkımda
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/resume']" routerLinkActive="active">
          <i class="fas fa-file-alt"></i> Deneyimlerim
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/services']" routerLinkActive="active">
          <i class="fas fa-cogs"></i> Yeteneklerim
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/testimonials']" routerLinkActive="active">
          <i class="fas fa-comments"></i> Projelerim
        </a>
      </li>




    </ul>
  </div>
</nav>
