<div class="row d-flex vh-100 align-items-center" style="margin-bottom:-20px">
  <div class="col"></div>
  <div class="col-md-2">
    <div class="card" style="border: none;">
      <div class="card-body align-self-center" style="height: 700px">
        <app-profile></app-profile>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div style="min-height: 700px !important;background-color:#ffffff; height: 700px">
      <app-Nav></app-Nav>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col"></div>
  </div>


