<div class="skills-container">

  <div class="skills-category">
      <h2>Programming Languages</h2>
      <div class="skills-tags">
          <span class="skill-tag">C#</span>
          <span class="skill-tag">JavaScript</span>
      </div>
  </div>

  <div class="skills-category">
      <h2>Databases</h2>
      <div class="skills-tags">
          <span class="skill-tag">MsSQL</span>
          <span class="skill-tag">MongoDB</span>
          <span class="skill-tag">Redis</span>
          <span class="skill-tag">PostgreSQL</span>
          <span class="skill-tag">SQLite</span>
          <span class="skill-tag">MySQL</span>
      </div>
  </div>
  <div class="skills-category">
    <h2>Databases</h2>
    <div class="skills-tags">
        <span class="skill-tag">MsSQL</span>
        <span class="skill-tag">MongoDB</span>
        <span class="skill-tag">Redis</span>
        <span class="skill-tag">PostgreSQL</span>
        <span class="skill-tag">SQLite</span>
        <span class="skill-tag">MySQL</span>
    </div>
</div>
  <div class="skills-category">
      <h2>Technologies</h2>
      <div class="skills-tags">
          <span class="skill-tag">.NET Core</span>
          <span class="skill-tag">jQuery</span>
          <span class="skill-tag">Bootstrap</span>
          <span class="skill-tag">ElasticSearch</span>
          <span class="skill-tag">Docker</span>
          <span class="skill-tag">SignalR</span>
          <span class="skill-tag">Git/Gitlab/Github</span>
          <span class="skill-tag">Ajax</span>
          <span class="skill-tag">Dapper</span>
          <span class="skill-tag">ADO.NET</span>
          <span class="skill-tag">Devexpress</span>
          <span class="skill-tag">Quartz.NET</span>
          <span class="skill-tag">Quartz.NET</span>
          <span class="skill-tag">Quartz.NET</span>
          <span class="skill-tag">Quartz.NET</span>

      </div>
  </div>
</div>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
