body {
  font-family: 'Inter', sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 20px;
}

.skills-container {
  width: 1000px; /* Sabit genişlik */
  margin: 0 auto;
  padding: 20px;
  max-height: 630px; /* Sabit yükseklik */
}


.skills-category {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.skills-category h2 {
  font-size: 28px;
  color: #5A6C57;
  margin-bottom: 20px;
  text-align: center; /* Başlığı ortalar */

}

.skills-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-height: 250px;
  overflow-y: auto; /* Bu satır kaydırma çubuğunu aktif eder */
}

.skill-tag {
  background-color: #D3F1DF;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #5A6C57;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.skill-tag:hover {
  background-color: #5A6C57;
  color: #fff;
}

@media (max-width: 768px) {
  .skills-tags {
    justify-content: flex-start;
  }
}
