<div class="experience-container">
  <div class="experience-item">

      <div class="details">
          <h2>24 KASIM 2024 - ?
            <br>.NET ASSİSTANT INSTRUCTOR, M&Y YAZILIM AKADEMİ </h2>
          <ul>
              <li>130 öğrencinin .NET projelerinde karşılaştığı teknik sorunları çözerek ve proje takibini yaparak öğrenme süreçlerine
                katkıda bulunuyorum.</li>
              <li>Haftasonu akşamları freelance olarak çalışarak, bu görevi tam zamanlı işlerimle uyumlu şekilde yürütüyorum.               </li>
              <li>Öğrencilerin projelerinde ihtiyaç duydukları teknik destek ile yönlendirmeler yaparak, doğru çözüm yollarını
                bulmalarına yardımcı oluyorum. </li>
              <li>Öğrencilerin takıldığı teknik konularda rehberlik yapıyor, sorunları gidermek ve proje geliştirme süreçlerini
                desteklemek için aktif bir rol üstleniyorum.</li>
          </ul>
      </div>
  </div>
  <div class="experience-item">

      <div class="details">
          <h2>24 HAZİRAN 2024 – 1 EYLÜL 2024
        <br>    BACKEND DEVELOPER INTERN, TURNA.COM</h2>
        <ul> <li>Geliştirilen proje kapsamında uçak, otobüs ve feribot olmak üzere 3 farklı sektörde geniş bir deneyim kazandım.</li> <li>Feribot yazılımı için 2 farklı sağlayıcının entegrasyonunu sağladım ve API'lerini .NET Core projesine dahil ettim.</li> <li>Sıfırdan, frontend ve backend geliştirmelerini içeren 2 yeni sayfa tasarlayarak projeye katkı sağladım.</li> <li>3D Secure ödeme sistemi ile ilgili yaşanan sorunları çözerek güvenli ödeme işlemlerinin düzgün bir şekilde çalışmasını sağladım.</li> <li>SignalR ile gerçek zamanlı bildirimlerin yönetimini yaparak kullanıcı deneyimini artırdım.</li> <li>Birden fazla .NET servis projesinde yer alarak büyük ölçekli mimariler hakkında derinlemesine bilgi edinme fırsatı buldum.</li> </ul>
      </div>
  </div>
  <div class="experience-item">

      <div class="details">
          <h2>1 EYLÜL 2022 – 1 EYLÜL 2023
          <br>  SOFTWARE SUPPORT INTERN, T-SOFT</h2>
          <ul> <li>7'den fazla e-ticaret mağazasında kullanıcı sorunlarını çözmek için Jira ve Nildesk üzerinden destek sağladım.</li> <li>10'dan fazla web sitesinde sorunları analiz ederek, kritik problemlerin çözüm süreçlerinde önceliklendirme yaptım.</li> <li>Kullanıcı eğitimlerine katılarak, yeni sistem özellikleri ve güncellemeler hakkında bilgi sağladım.</li> <li>15 farklı web sitesinin eski sürümlerden güncel sürüme geçiş süreçlerinde test ve hata çalışmalarına katkı sağladım.</li> <li>Kullanıcı taleplerini ilgili departmanlara ileterek çözüm sürecini takip ettim ve geri bildirim sağladım.</li> </ul>
      </div>
  </div>
</div>


<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
